.eduitem {
  padding-right: 10px;
  display: flex;
  position: relative;
  height: 90px;

  img {
    $mar: 30px;
    position: relative;
    margin-top: calc($mar / 30);
    margin-left: calc($mar / -2);
    border-radius: 50%;
    height: $mar;
    width: $mar;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: start;

    .time {
      font-size: .8em;
      color: #a3a3a3;
      font-family: 'Courier New', Courier, monospace;
    }

    .percent {
      color: #a3a3a3;
      font-family: 'Courier New', Courier, monospace;
    }

    .place {
      font-weight: 400;
    }
  }
}