@import "../../../mixins.scss";
form{
  width: 100%;
  input,textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-style: none;
    border: 0.5px solid #212121;
    outline: none;
    color: white;
    margin-bottom: 15px;
    min-width: 300px;
    font-size: 0.8em;
    &:focus{
      border-bottom: 1px solid $mainColor;
    }

  }
  button {
    padding: 10px 4px;
    background-color: $mainColor;
    color: white;
    border: none;
    width: 60%;
    letter-spacing: 0.5em;
    font-family: $font;
  }
}