input {
    width: 100%;
    padding: 0.8em;
    margin: 5px 0px;
  }
  
  button {
    padding: 10px 4px;
    background-color: black;
    color: white;
    border: none;
    width: 60%;
    letter-spacing: 0.5em;
    font-family: 'Courier New', Courier, monospace;
  }