@import "../../mixins.scss";

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include md {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .background {
    position: absolute;
    top: 0;
    z-index: 0;

    img {
      position: relative;
      height: 100vh;
      width: 100vw;
      background-size: cover;
    }

    .filter {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1;
    }
  }

  .intro {
    display: inline-block;
    text-align: center;
    line-height: 3em;
    z-index: 5;

    ul {
      list-style: none;

      .first {
        color: white;
        font-size: 1em;
        display: inline-block;
        align-items: left;

        .lottie {
          width: 40px;
          display: inline-block;
        }

        @include md {
          font-size: 1.5em;
        }
      }

      .name {
        font-size: 2em;
        text-shadow: 2px 2px 0px $mainColor;
        color: #eddb78;
        font-weight: bold;
        display: flex;
        gap: 5px;
        text-transform: uppercase;

        .lottie {
          width: 40px;
          height: 40px;
        }

        @include md {
          font-size: 3em;
          text-shadow: 3px 3px 0px $mainColor;

          .lottie {
            width: 50px;
            height: 50px;
          }
        }
      }

      .title {
        display: inline-block;
        align-items: left;

        div {
          overflow: hidden;
          font-size: 1em;
          height: 20%;
          color: white;
          font-weight: bold;
          white-space: nowrap;
          padding: 0px;

          @include md {
            font-size: 1.3em;
          }
        }
      }

      .btnDiv {
        align-items: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
        gap: 20px;
        align-items: center;

        @include md {
          flex-direction: row;
        }

        .btn {
          position: relative;
          overflow: hidden;
          border: 0px solid #18181a;
          color: #ffffff;
          display: inline-block;
          font-size: 15px;
          line-height: 15px;
          box-sizing: content-box;
          padding: 20px;
          text-decoration: none;
          cursor: pointer;
          background: $mainColor;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          font-family: $font;
          letter-spacing: 0em;

          &:after {
            content: "";
            position: absolute;
            bottom: -50%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            transform-origin: bottom center;
            transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
            transform: skewY(9.3deg) scaleY(0);
            z-index: 50;
          }

          &:hover:after {
            transform-origin: bottom center;
            transform: skewY(9.3deg) scaleY(2);
          }

          &:hover span:last-child {
            transform: translateX(-50%) translateY(-100%);
            opacity: 1;
            transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
          }
        }

        span {
          &:first-child {
            position: relative;
            transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
            z-index: 10;
            text-align: center;
          }

          &:last-child {
            color: black;
            display: block;
            position: absolute;
            bottom: 0;
            transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
            z-index: 100;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translateY(225%) translateX(-50%);
            height: 14px;
            line-height: 13px;
          }
        }
      }
    }
  }
}