@import "../../mixins.scss";

#contactme {
  position: relative;
  min-height: 500px;
  display: flex;
  justify-content: start;
  padding: $SectionPadding;

  @include md {
    padding-left: 100px;
    padding-right: 80px;
  }

  h2 {
    color: #eddb78;
    font-weight: bold;
  }

  .contactdiv {
    position: relative;
    color: white;
    background-color: #1c1c1c;
    width: calc(100vw - 40px);
    z-index: 1;
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
      width: calc(100vw - 180px);
      min-height: 400px;
    }

    .left {
      position: relative;
      width: 100%;
      background-color: #1c1c1c;
      z-index: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 20px;

      @include md {
        width: 60%;
      }

      .form {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include md {
          align-items: start;
          justify-content: start;
          padding-left: 50px;
        }
      }

      .links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        @include md {
          align-items: start;
          justify-content: start;
          padding-left: 50px;
        }

        .link {
          border-radius: 10px;
          background-color: #31313176;
          padding: 8px 12px;
          display: flex;
          align-items: center;
          justify-content: space-around;

          img {
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
            width: 10px;
            height: 10px;
          }
        }
      }
    }

    .right {
      width: 100%;
      background-color: #eddb78;
      z-index: 1;
      display: flex;
      align-items: center;

      @include md {
        width: 40%;
      }

      .info {
        width: 100%;
        height: 80%;
        background-color: rgb(73, 73, 73);
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 0.9rem;
        gap: 15px;
        padding: 10px;
        transform: translateX(0%);

        @include md {
          transform: translateX(-20%);
          background-color: black;
        }

        .info-item {
          padding-left: 5px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          overflow-wrap: break-word;

          img {
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
          }
        }
      }
    }

  }
}